
body {
    font-family: Arial, sans-serif;
}

/* Header */

.header {
  background-color: lightyellow;
  color: green;
  padding: 20px 0; /* Khoảng cách giữa nội dung và viền trên/dưới */
}

.logo img {
  width: 80px;
  height: 80px;
}


/* Menu */
.container-fluid {
  margin: 5px;
}

/* Main */
main {
  margin-top: 50px;
}
section {
  margin-bottom: 20px;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.thumbnail {
  height: 500px;
}
/* Footer*/
.footer {
  background-color: lightyellow;
  padding: 20px 0;
}

.footer p {
  margin-bottom: 0;
}
